In [1]:
import pandas as pd
import geopy

In [4]:
from geopy.geocoders import Nominatim

In [5]:
nom=Nominatim()

In [139]:
n=nom.geocode('3955 23rd St, San Francisco, CA 94114')

In [28]:
nom.geocode('Cangallo 1922, Temperley')

Location(Cangallo, Temperley, Partido de Lomas de Zamora, Bs. As., 1834, Argentina, (-34.7692033, -58.3807302, 0.0))

In [21]:
dir(geopy.geocoders)

['ArcGIS',
 'Baidu',
 'Bing',
 'DataBC',
 'GeoNames',
 'GeocodeFarm',
 'GeocoderNotFound',
 'GoogleV3',
 'IGNFrance',
 'LiveAddress',
 'Mapzen',
 'Nominatim',
 'OpenCage',
 'OpenMapQuest',
 'Photon',
 'PickPoint',
 'SERVICE_TO_GEOCODER',
 'What3Words',
 'Yandex',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'arcgis',
 'baidu',
 'base',
 'bing',
 'databc',
 'geocodefarm',
 'geonames',
 'get_geocoder_for_service',
 'googlev3',
 'ignfrance',
 'mapzen',
 'opencage',
 'openmapquest',
 'options',
 'osm',
 'photon',
 'pickpoint',
 'smartystreets',
 'what3words',
 'yandex']

In [17]:
from geopy.geocoders import ArcGIS

In [18]:
arc=ArcGIS()

In [30]:
arc.geocode('Cangallo 2122, Temperley')

Location(Cangallo 2122, Temperley, Lomas de Zamora, B1834, Buenos Aires, (-34.76328503253267, -58.369472860573175, 0.0))

In [135]:
df=pd.read_csv('supermarkets.csv')

In [137]:
df['Address']=df['Address']+', '+df['City']+', '+df['State']+', '+df['Country']

In [143]:
df['Coordinates']=df['Address'].apply(nom.geocode)

In [146]:
df['Latitude']=df['Coordinates'].apply(lambda x: x.latitude if x!=None else None)

In [148]:
df['Longitude']=df['Coordinates'].apply(lambda x: x.longitude if x!=None else None)

In [149]:
df

,ID,Address,City,State,Country,Name,Employees,Coordinates,Latitude,Longitude
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666, 21st Street, Noe Valley, SF, California...",37.756489,-122.429343
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,None,NaN,NaN
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332, Hill Street, Noe Valley, SF, California,...",37.755725,-122.428601
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, SF, California...",37.752965,-122.431714
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(1056, Sanchez Street, Noe Valley, SF, Califor...",37.752146,-122.429815
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551, Alvarado Street, Noe Valley, SF, Califor...",37.753673,-122.433220

In [151]:
for lat, lon in zip(df['Latitude'],df['Longitude']):
    print(str(lat)+','+str(lon))

37.756488877551,-122.429343346939
nan,nan
37.755725122449,-122.428601306122
37.7529648,-122.4317141
37.7521458,-122.42981516
37.7536733265306,-122.433219959184